body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2eada; /* Sand color */
  color: #2c241f; /* Dark brown text */
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #2c241f;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#show-page {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffefd5; /* Light yellow */
  border: 2px solid #e1c48e; /* Border color */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

#show-page div {
  margin-bottom: 10px;
  flex: 0 0 calc(50% - 10px); /* Two columns with 10px spacing */
}

h2 {
  font-size: 24px;
  color: #2c241f;
}

form label {
  font-weight: bold;
  color: #2c241f;
}

form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #2c241f;
  padding: 8px;
}

table th {
  background-color: #e1c48e; /* Light brown */
  color: #2c241f;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #ffe4b5; /* Light orange */
}

table tbody tr:hover {
  background-color: #ffd700; /* Gold */
}

h5 {
  color: #2c241f;
}

/* Styling for title and content on the same line */
#show-page div:nth-child(odd) {
  font-weight: bold;
  flex-basis: 100%;
}

#show-page div:nth-child(even) {
  margin-left: 10px; /* Adjust margin as needed */
}
